/*Estilos aplicados ao website Prototipando...*/

/*Seletor Universal - seleciona todos os elementos da página e aplica estilos comuns padronizados*/
*{
    margin:0; /*remove a margem padrão de todos os elementos*/
    padding: 0;/*remove o padding de todos os elementos */
    box-sizing: border-box;/*inclui bordas e preenchimentos no cálculo da largura e altura dos elementos*/
}/*Fechamento do seletot universal*/

body{
    font-family: Arial, sans-serif;/*Define a fonte da página como Arial, com uma alternativa de sens-serif*/
    background-color:rgb(64, 48, 117);/*Define a cor de fundo do body / corpo do html*/
    color: rgb(255, 255, 255);/*Define a cor do texto com um tom suave de branco*/
}/*Fechamento do body

/*Estilo do cabeçalho*/
header{
    background-color: rgb(152, 18, 234);
    padding: 55px;
    text-align: center;/*Alinha o texto do cabeçalho*/
}/*Fechamento do header*/

header button{
    right: 20px; /*Alinha o botao da direita com 20 px de distancia da borda direita da pagina*/
    top: 35px;/*Alinha o botao ao topo, com 35px de distancia da borda superior*/
    position: absolute;/*Posiciona o botao de forma absoluta com relação ao cabeçalho*/
    background-color: rgb(64, 48, 117);
    padding: 10px 20px;/*Define o espaço interno do botao em 10px (vertical) e 20px (horizontal)*/
    border-radius: 8px;/*Arredonda os cantos do botao*/
    /*border: none; Remove a borda padrao do botao*/
    cursor: pointer;/*Define o cursor como um ponteiro ao passar pelo botao*/
}/*Fechameneto do header button*/

    header h3{
        /*Remove a margem e o padding padrao do h3 dentro do header*/
        margin: 0;
        padding: 0;

    }/*Fechamento header h3*/
    main{
        padding: 10px;
        text-align: center;
    }/*Fechamento main*/
        main img{
            max-width: 150px;/*Define a largura maxima das imagens dentro do main como 150px*/
        }/*Fechamento main img*/
        section{
            margin: 20px 0;/*Define a margem superior e inferior das seções como 20 px e 0 para as laterais */

        }/*Fechamento section*/

/*Estilo do rodapé/ footer*/
footer{
    background-color: rgb(152, 18, 234);
    padding: 41px;
    text-align: center;
    bottom: 0;/*Aliha o rodapé abaixo da pagina*/
    position: absolute;/*Posiciona o rodapé de forma absoluta em relação ao body*/
    width: 100%;/*Aliha a largura do rodapé como 100% da janela de visualização*/
}/*Fechamento do footer*/